{% extends 'miapp/base.html' %}

{% block content %}

<h1>Home</h1>
<h4 id="dolar"></h4>
<hr>
<h4>División Político Administrativa de Chile</h4>
<select class="form-select mt-3" id="regiones">
    <option selected>Selecciona una región</option>
  </select>
  <select class="form-select mt-3" id="provincias">
    <option selected>Selecciona una provincia</option>
  </select>
  <select class="form-select mt-3" id="comunas">
    <option selected>Selecciona una comuna</option>
  </select>

<script>
    //EJERCICIO VALOR DOLAR
     var url = "https://mindicador.cl/api/dolar"
     var api = new XMLHttpRequest();
     api.open("GET",url,true)
     api.send(null)
    
     var h4Dolar = document.getElementById("dolar")

     //EJERCICIO DPA
     var dpaRegionesURL = "https://apis.digital.gob.cl/dpa/regiones"
     var dpa = new XMLHttpRequest();
     dpa.open("GET",dpaRegionesURL)
     dpa.send(null)

     var regiones = document.getElementById("regiones")

     
     api.onreadystatechange = function (){
        if(this.status == 200 && this.readyState==4){
            //EJERCICIO VALOR DOLAR
            var datos = JSON.parse(this.responseText)
            //console.log(datos.serie[0].valor)
            var hoy =new Date(datos.serie[0].fecha)
            h4Dolar.innerHTML = "Dolar de hoy "+ hoy.toLocaleDateString() +": $" + datos.serie[0].valor
            
            //EJERCICIO DPA
            //REGIONES
            var dataRegiones = JSON.parse(this.responseText)
            console.log(dataRegiones)
        
        }
     }


</script>


{% endblock %}

