#fila1, #fila2, #fila3{
    height: 33vh;
}

#fila1{
    background-color: aliceblue;
}

#fila2{
    background-color: aquamarine;
}

#fila3{
    background-color: beige;
}

#col8{
    background-color: blueviolet;
}

.navbar{
    background-color: blue;
}